body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2b2b;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #e63946;
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #d62828;
}

.loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    font-size: 18px;
}

.loading-content {
    text-align: center;
}

.khodam-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.khodam-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.khodam-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.khodam-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.khodam-text {
    max-width: 100%;
}

.name {
    font-weight: bold;
    color: #e63946;
}

@media (min-width: 768px) {
    .container {
        max-width: 60%;
    }

    .khodam-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .khodam-details {
        flex-direction: row;
        text-align: left;
    }

    .khodam-image-container {
        margin-right: 20px;
    }

    .khodam-image {
        width: 50%;
        height: auto;
    }

    .khodam-text {
        width: 50%;
    }
}
