body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Dark background color */
    color: #e6cccc; /* Pastel red text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #4d4d4d; /* Darker background color */
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 60%;
    max-width: 800px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 1em;
    font-size: 2em;
    color: #ff6666; /* Pastel red */
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    border: 2px solid #ff6666; /* Pastel red border */
    border-radius: 4px;
    outline: none;
    margin-right: 0.5em;
    width: 100%;
    max-width: 300px;
    background-color: #333; /* Darker input background */
    color: #e6cccc; /* Pastel red text color */
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: white;
    background-color: #ff6666; /* Pastel red */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff3333; /* Darker pastel red on hover */
}

.khodam-info {
    margin-top: 1em;
    text-align: left; /* Align content to the left */
}

.khodam-details {
    display: flex;
    align-items: flex-start; /* Align items at the start */
}

.khodam-image-container {
    flex: 0 0 30%; /* Take up 30% of the container width */
    margin-right: 1em;
    text-align: center;
}

.khodam-image {
    width: 100%; /* Ensure image fills its container */
    max-width: 100%; /* Prevent image overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add drop shadow */
    border-radius: 8px;
}

.khodam-text {
    flex: 1; /* Take remaining space */
}

.khodam-text p {
    margin: 0.5em 0;
    font-size: 1.2em;
    line-height: 1.4; /* Improve readability */
}

.khodam-text p.name {
    font-weight: bold;
    color: #ff6666; /* Pastel red */
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 1s forwards;
}

.loading-content p {
    font-size: 1.5em;
    color: #333;
    animation: pulse 1.5s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
